#aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
}


#anchar-btn {
    border: 3px solid #bd5d38;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 7px;
}

#anchar-btn:hover {

    background-color: #bd5d38;
    color: white;
}

#data-project {
    float: right;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 50%;
    max-width: 600px;
    border-radius: 10px;

}

.form h3 {
    font-weight: 800;
    margin-top: 20px;
}

.form input {
    /* border: 0; */
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-size: 16px;
    border-radius: 10px;

}

.contact-msg {
    border-radius: 10px;
}

.contact-msg:hover {
    /* border-color: #bd5d38; */
    border: 1px solid #bd5d38;

}

.form input:hover {
    border-color: #bd5d38;
}

.form button {
    /* padding: 15px; */
    font-size: 18px;
    outline: none;
    /* border: 0; */
    /* border-color: #bd5d38; */
    cursor: pointer;
    margin: 20px auto 0;
    border-radius: 20px;
    padding: 10px 25px
}

.form-section {
    display: flex;
    justify-content: center;
}

.form button:hover {
    background-color: #bd5d38;
    color: white;
    border-color: #bd5d38;
}

#footer {
    text-align: center;
    color: white;
    background-color: #bd5d38;
}

#about {
    display: flex;

}

#contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    padding: 50px;
    border-radius: 10px;
}

#contact-details:hover {
    border-color: #bd5d38;
}


#skillss {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#about {
    display: flex;

    justify-content: center;
}

#date-project {
    display: inline;
    float: right;
}

a .fa-brands {
    width: 60px;
}

.prgph:hover {
    color: #bd5d38;



}

/* prject ke uper hover karne ke liye */
/* #proj-cont:hover{ */
/* border: 2px solid; */
/* background-color:aqua;
} */

#card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card-box {
    /* margin: 10px 20px; */
    /* border: 1px solid ; */
    display: flex;
    flex-direction: column;

}

/* #btn-proj{
  border: 2px solid black;
width: 100%;  */
/* display: flex; */
/* align-items: end; */
/* align-self:self-end */
/* margin-top: auto; */

/* .card-body{
    display: flex;
    flex-direction: column; */

/* align-items: center; */
/* }    */
.btn {
    width: 100%;

    color: black;


}

.btn a {

    border-color: white;
    background-color: white;
    border: 1px solid #bd5d38;
}

.btn a:hover {
    background-color: #bd5d38;
    border-color: #bd5d38;
    color: black;
}


/* hover after color set by class name in skills section start here  */
.skil-main-color:hover {
    color: #bd5d38;
}

.heaing-main-color:hover {
    color: #bd5d38;
}

.hover-icons-frontend i:hover {
    color: #bd5d38;
}

.hover-backend-icon i:hover {
    color: #bd5d38;
}

.hover-bckend:hover {
    color: #bd5d38;
}

.hover-frontend:hover {
    color: #bd5d38;
}

.hover-maincolor-li li:hover {
    color: #bd5d38;
}

.hover-soft:hover {
    color: #bd5d38;
}

/* hover after color set by class name in skills section start end here*/


.resume-btn {
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #bd5d38;
}

.resume-btn a {
    text-decoration: none;
    color: black;
    font-weight: 400px;
    font-size: large;
}

.resume-btn:hover {
    background-color: #bd5d38;
    color: black;
}

.resume-btn a:hover {
    color: black;
}



/* about section responsive design  start from here  */
@media only screen and (max-width:770px) {
    #about {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }

    #img-headerr {
        max-width: 100%;
        height: auto;
    }
}

/* about section responsive design  end here */

/* Project section responsive design start from here  */



@media only screen and(max-width:990px) {
    #heading-projec {
        margin-left: 200px;
    }
}

/* Project section responsive design end from here  */


/* skill responsive start here  */

@media only screen and (max-width:860px) {
    .skillss {
        display: flex;
        flex-direction: column;


    }

    #img-skill {
        max-width: 100%;
        height: auto;
    }
}

/* skills responsive end here  */


/* about me section responsive start here  */

@media only screen and (max-width:860px) {
    #aboutme {
        display: flex;
        flex-direction: column;
    }

    #img-aboutme {
        max-width: 100%;
        height: auto;
    }
}

/* aboutme section end here responsive  */


/* contact me section responsive start here  */


@media only screen and (max-width:720px){
    #contact-form{
        display: flex;
        flex-direction: column;
    }
    #contact-details{
        margin-top: 40px;
    }
}